$default-padding: 10px;
$background: gainsboro;
$metadata-width: 15%;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f4;
  color: #555;
  margin: 0;
}

h1 {
  font-size: 52px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  color: #eee;
  text-align: center;
}

div {
  display: inline;
}

#left {
  width: 100% - $metadata-width;
  display: block;
  #dropzone {
    display: block;
    padding: $default-padding;
    box-sizing: border-box;
    background-color: #222;
    &.hover {
      background-color: $background;
    }
  }
  #images {
    padding: $default-padding;
    .wrapper {
      margin-top: 5px;
      .darkroom-container {
        position: relative;
        > .darkroom-button {
          position: absolute;
          top: 0;
          left: 0;
        }
        .darkroom-image-container {
          top: 0;
          left: 0;
        }
      }
    }
  }
}

#metadata {
  width: $metadata-width;
  position: fixed;
  background-color: $background;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-size: small;
  word-break: break-all;
  .exif {
    .no-metadata {
      padding-top: 2px;
      padding-left: $default-padding + 2px;
    }
    td {
      padding: 0 0 0 $default-padding;
    }
  }
}

/*#header {
  background-color: #222;
  padding: $default-padding;
  min-width: 700px;
  position: relative;
  display: none;
}*/

/*input[type=file] {
  margin-left: $default-padding;
  margin-top: $default-padding;
}*/